/*UI Dialog fix */
.ui-widget-overlay {
    background-image: none !important;
    /*position: fixed !important;  <---------- */
    top: 0 !important;          /* <---------- */
    left: 0 !important;         /* <---------- */
    width: 100% !important;
}

.ui-dialog .ui-dialog-titlebar {background-image:none !important;background-color:#027fd1 !important;color:#FFFFFF;  }
/*.ui-dialog .ui-dialog-buttonpane button {background-color:#662606 !important;color:#242424; }*/

.one_column_table {
    width: 100%;
    border-collapse: collapse;
}

.one_column_table .column {
    margin: 1px;
    width: 100%;
    vertical-align: top;
}

.two_column_table {
    width: 100%;
    border-collapse: collapse;
}

.two_column_table .column {
    margin: 1px;
    width: 50%;
    vertical-align: top;
}

.three_column_table {
    width: 100%;
    border-collapse: collapse;
}

.three_column_table .column {
    margin: 1px;
    width: 33%;
    vertical-align: top;
}

.columnContent {
    margin: 0px;
    padding: 0px;
}

.headerContent {
	clear:both;
}

.headerTitle {
    font-size: 24px;
    color: black;
    padding: 5px 0px 5px 175px;
    
}

.mainContent {
    border: 6px black solid;
    color: black;
    background-color: #F5F5DC;
    width: 95%;
    overflow:auto;
	clear:both;
    margin: 0px auto;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.mainContent form {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.mainContent .formField {
    border: 1px solid white;
    border-width: 1px 1px 1px 1px;
    line-height: 24px;
    margin: 1px;
}

.formContent {
    
}

.section_header {
    font-size: 12px;
    text-align: left;
    color: white;
    background-color: #808080;
    font-weight: bold;
    line-height: 2em;
    padding: 0px 5px;
}

/*input fields*/
input.noBackground{
	background:none;
	border:none;
}

/*  button styles  */
div.button_container {
    line-height: 2em;
    text-align: center;
    margin: 0px;
    /*border: 1px solid red;*/    
}
