/***************************************
 * APPLICATION MENU
 *
 */

div#app_menu>.navbar {
    border-radius: 0px;
    background-color: #a1a1a1;
    margin-bottom: 0;
    min-height: 0;
    border: 0;
    font-weight: bold;
}
div#app_menu .navbar .nav-tabs>li>a{
	color: white;
}

div#app_menu .nav-tabs.nav-justified>li>a {
	border-bottom: 0;
}

div#app_menu .dropdown-menu, div#app_menu .dropdown-menu a{
	background-color: #ccc; 
	color: black !important;
}

div#app_menu .navbar .nav-tabs>li.active>a, 
div#app_menu .navbar .nav-tabs>li.active>a:focus, 
div#app_menu .navbar .nav-tabs>li>a:hover {
	background-color: #ccc !important;
	border-color: #ccc;
	color: black;
}


#application_menu #menulist li a {
    /*display: block;
    text-decoration: none;
    margin: 0;
    padding: 0;*/
}

#app_menu #menulist li a:link, #app_menu #menulist li a:visited{
    /*color: #027fd1;*/
    color: #fff;
    background-color: transparent;
}

#app_menu #menulist li a:hover{
    color: #000;
    background-color: #ccc;
}

#app_menu #menulist li a.current{
    color: #242424;
    background-color: #ccc;
}


/* select a tab/menu item based on the type */
/*
body#maintenance #application_menu #menulist li#menuMaint a,
body#configuration #application_menu #menulist li#menuConfig a,
body#reports #application_menu #menulist li#menuReports a,
body#sorties #application_menu #menulist li#menuSortie a,
body#spares #application_menu #menulist li#menuSpares a,
body#inventory #application_menu #menulist li#menuInventory a
{
    color: #242424;
    background-color: #ccc;
}*/

/* select a tab/submenu item based on the type */
/*
div#airborne #maintenance_menu li a#as,
div#ground #maintenance_menu li a#gs,
div#display #maintenance_menu  li a#ds,
div#support #maintenance_menu li a#se
{
    color: #ffffff;
    background-color: #ccc;
}
*/
body#maintenance #app_menu #menulist li#menuMaint a,
body#configuration #app_menu #menulist li#menuConfig a,
body#reports #app_menu #menulist li#menuReports a,
/*body#sorties #application_menu #menulist li#menuSortie a,*/
body#spares #app_menu #menulist li#menuSpares a,
body#inventory #app_menu #menulist li#menuInventory a,
body#admin #app_menu #menulist li#menuAdmin a
{
    color: #242424;
    background-color: #ccc;
}

