/***************************************
 * APPLICATION MENU
 *
 */
div.application_temp {
    position: absolute;
    bottom: 0 !important;
    
}

#application_menu {
    width: 100%;
    border: 5px solid green; /*#242424 */
    border-width: 0;
    background-color: #a1a1a1;
	height:24px;
}

#application_menu #menulist {
    list-style: none;
    margin: 0;
    padding: 0;
}

#application_menu #menulist li {
    margin: auto;
    padding: 0;
    list-style: none;
    float: left;
    line-height: 24px;
    max-width:16%;
	width:19.95%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

#application_menu #menulist li a {
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#application_menu #menulist li a:link, #application_menu #menulist li a:visited{
    /*color: #027fd1;*/
    color: #fff;
}

#application_menu #menulist li a:hover{
    color: #000;
    background-color: #ccc;
}

#application_menu #menulist li a.current{
    color: #242424;
    background-color: #ccc;
}


/* select a tab/menu item based on the type */

body#maintenance #application_menu #menulist li#menuMaint a,
body#configuration #application_menu #menulist li#menuConfig a,
body#reports #application_menu #menulist li#menuReports a,
body#sorties #application_menu #menulist li#menuSortie a,
body#spares #application_menu #menulist li#menuSpares a
{
    color: #242424;
    background-color: #ccc;
}

/* select a tab/submenu item based on the type */
div#airborne #maintenance_menu li a#as,
div#ground #maintenance_menu li a#gs,
div#display #maintenance_menu  li a#ds,
div#support #maintenance_menu li a#se
{
    color: #ffffff;
    background-color: #ccc;
}



