
.adHoc{
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;	
	font-size: 11px;
	

}
.bodytext{
	font-size: 11px;
	color: #333333;
	}

#sql{
		
		border:1px solid #666;
		overflow:auto;
		height:395px;
		font-family:"Courier New", Courier, monospace;
		color:#777;
		font-size:12px !important;
		white-space:pre;
		/*word-wrap: break-word;  for IE, force it to wrap text and keep it inside the div */ 

	}
	
.innerBox .table{
	margin-bottom: 0;
}

.result_section_title input[type="button"]:disabled{
	color: grey;
}

.result_section_title input[type="button"] {
	color: black;
	font-weight: normal;
	font-size: 11px;    
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
	
#result table td{
	empty-cells:show;
	}

/*menus*/

.centerDiv, #orderDiv
{
	width: 200px; 
	top: 200px;
	left: 550px;
	
	
}

img.del{
	cursor:pointer;	
}


.nodrag{
	cursor:auto;
	
}

.hoverColumn{
	background-color:#F8F7FC;
}

.resultContent{
	border-color:Black;
	border-width:1px;
	border-style:Solid;
	height:150px;
	overflow:auto;
	
}
	
.header_section
{
	background-color:#F0F0F0;
	padding:5px;
	
}	

.header_section .header {
	background: #FFFFFF url(../images/database_icon_smll.gif) 0 2px no-repeat;
	border-bottom-color: White;
	border-bottom-style: double;
	border-bottom-width: 3px;
	border-right-color: White;
	border-right-style: double;
	border-right-width: 3px;
	border-top-color: #c2c2c2;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: #c2c2c2;
	border-left-style: solid;
	border-left-width: 1px;
}

.header_title{

padding-left:60px;
clear:both;
}

.header_main_title{
	
	font-size: 24px;
	font-weight: bold;
	color: #6d7785;
	padding-top:10px;

}

.header_sub_title{
	font-size: 11px;
	padding-top:2px;
	padding-left:5px;	
}

.header_version{
	float:right;
	font-size: 11px;
	padding-right:5px;
	margin-top:-10px;
}
	

.column_header{
	background-color:#CCCCCC;
	
}

.query_column{
	background-color:#6682b5;
	vertical-align:top;
	width:60%;
	color: #FFFFFF;

}

.query_column_title{
	
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding:5px 0px 0px 10px ;
	vertical-align:middle;

}

.query_result_column{
	background-color:#6682b5;
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color:#d5d5e5; 
	border: solid 4px #6682b5; 
	height: 400px;
	vertical-align:top;


}

.query_result_column_title{
	background-color:#d5d5e5;
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000; 
	padding:3px 0px 3px 10px ;
	vertical-align:middle;
	


}

.query_result_column_panel{
	border-color:Black;
	border-width:1px;
	border-style:Solid;
	height:150px;
	width:99.75%;
	/*background-image:url(/);*/
	overflow:auto;
	text-align:left;
	
}

.query_result_section{
	padding-bottom:10px;
}

.operations_section{
	vertical-align:top;
	
}

.fileOperations_column{
	background-color:#d5d5e5;
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	height:140px;
}

.fileOperations_column_title{
	background-color:#d5d5e5;
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding:3px 0px 3px 10px ;
	vertical-align:middle;
}

.fileOperations_column_table{
	background-color:#F8F7FC; 
	border: solid 4px #d5d5e5; 
	height:109px;
	color:#000000;
	font-size:11px;
}

.fileOperations_column_table_file{
	height: 17px;
	padding-left:25%;
	vertical-align:baseline;
	
}

/*SQL Query Section */
.sqlQuery_column{
	background-color:#b6b6d7;
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	height:100%;
}

.sqlQuery_column_title{
	background-color:#b6b6d7;
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding:3px 0px 3px 10px ;
	vertical-align:middle;
	
}

.sqlQuery_column_content{
	background-color:#FFFFFF; 
	border: solid 4px #b6b6d7;
	color:#333333;
	font-size:12px;
	height:100%;
}

.result_section{
	background-color:#b38471;
	margin:5px;
}

.result_section_title{
	background-color:#b38471;
	font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding:3px 0px 0px 10px ;
	vertical-align:middle;

}



.result_section_content{
	background-color:#b38471;
	color: #FFFFFF;
	font-size:12px;



}

.result_section_content_box_overflow
{
	overflow:auto;
	height:400px;
	
}

.result_section_content_box{
	background-color:#FFFFFF;
	color: #000000;
	margin:4px;

}


table.result_table
{
	/*text-align: center;*/
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
	font-weight: normal;
	font-size: 10px;
	color: #fff;
	background-color: #fff;
	border: #d7d7d7 solid;
	border-width: 0px 1px 1px 0px;
	width:100%;
	border-collapse: collapse;
	line-height: normal;

}

table.result_table tbody td 
{
	color: #000;
	padding: 3px;
	/*line-height:1.5em;*/
	text-align: center;
	border: 1px solid #d7d7d7;
	border-width: 1px 0px 0px 1px;

}

table.result_table thead th
{
	
	background-color: #7c7c7c;
	border: 1px solid #d7d7d7;
	border-width: 1px 0px 0px 1px;
	color: #fff;
	padding: 3px;
	text-align: center;
	font-size: 11px;
	font-weight: normal;
}


.btn {

	height:24px;
	width:70px;
	background-color:#F8F7FC;
}

.btnLoad {

	background-color:#F8F7FC;
}

.adhoc input {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	padding: 2px 0px 2px 0px ;
}
.adhoc textarea {
	font-family: Verdana, "Courier New", Geneva, Arial, Helvetica,  sans-serif;
	font-size: 11px;
	color: #333333;
}




/*******************************************************************************
 * HACKS : Clearfix
 *
 * Clearfix provides a means to for an element to contain all it's floated 
 * children even if it's not normally tall enough to do so. For more information
 * on clearfix please see:
 * http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix
{
	min-width: 0;		/* trigger hasLayout for IE7 */
	display: inline-block;
	/* \*/	display: block;	/* Hide from IE Mac */
}
* html .clearfix
{
	/* \*/  height: 1%;	/* Hide from IE Mac */ 
}
